[buildout]
develop = .
parts = devpython scripts releaser
versions = versions
show-picked-versions = false
extensions = mr.cython mr.developer
auto-checkout = reg

[versions]

[sources]
reg = git git@github.com:morepath/reg.git

[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = reg
       hireg
       pyflakes
       flake8

[scripts]
recipe = zc.recipe.egg:scripts
eggs = hireg [test]
       pytest

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
